# Numerous always-ignore extensions
*.log

# OS or Editor folders
.DS_Store
Thumbs.db
.vscode
.idea
.editorconfig

# NPM packages folder.
node_modules/

# Temporary files folder.
/tmp/
__snapshots__

# Webpack output folder.
dist/
