@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Bold-Web.eot');
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Bold-Web.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Bold-Web.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Regular-Web.eot');
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Regular-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Medium-Web.eot');
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Medium-Web.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Medium-Web.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesquePro';
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Light-Web.eot');
  src: url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Light-Web.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/basisgrotesk/BasisGrotesquePro-Light-Web.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}