.PanelFormControls {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 33%;
  }
}